.movie-page {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 90vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    background-position-y: 100px;
    background-repeat: repeat-y;
    &__name, &__rating, &__overview {
        // width: fit-content;
        margin-left: 440px;
        width: 50%;
        background-color: rgba(13, 37, 3, 0.685);
    }
    &__name{
        margin-top: 100px;
    }
    &__rating {
        margin-top: 20px;
    }
    &__overview {
        margin-top: 20px;
    }
}