.trending-list {
    display: flex;
    flex-direction: column;
    // width: fit-content;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    // &__item {
        // width: fit-content;
    // }
}